.link {
  display: inline-flex;
  align-items: center;
  font-size: 32px;
  gap: 4px;
  padding: 8px 0;
  color: black;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;

  :hover {
    color: #55acee;
  }
}
